### python ###
env/*
.ropeproject
__pycache__/
*.py[cod]
*$py.class
*.sqlite
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
### bulma ###
static/sass/bulma-0.7.1/