<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Music for reading!">
  <meta name="keywords" content="music, books, soundtracks, reading, novels">
  <meta name="author" content="Aman Verma">
  <title>{% block page_title %}{% endblock %} - NovelNoises</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/mytheme.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous"> {% endblock %}
</head>

<body>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <!-- Ingenious strat to get a full screen-width search bar -->
    <div class="navbar-brand" style="flex-grow: 1; flex-shrink: 1">
      <a class="navbar-item" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='img/logo-mini.png')}}" alt="NovelNoises logo" width="28" height="28">
        <!-- Try to make the logo scale better here -->
      </a>
      <div class="navbar-item is-expanded">
        <div class="field has-addons" style="flex-grow: 1;">
          <div class="control" style="flex-grow: 1;">
            <input class="input is-primary is-shadowless is-radiusless" type="text" placeholder="Search database...">
          </div>
          <div class="control" style="flex-grow: 0;">
            <a class="button is-primary is-shadowless is-radiusless">
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu" style="flex-grow: 0;">
      <div class="navbar-end">
        <a class="navbar-item" href="{{ url_for('about') }}">
          About
        </a>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <footer class="footer is-small" style="align-items: center;">
    <div class="has-text-centered">
      <div class="copyright">
        Copyright<span class="icon"><i class="far fa-copyright"></i></span><span id="year">2018</span>
        by <a class="is-link" href="https://github.com/aaether32323">aaether32323</a>
      </div>

      <div class="made-with">
        <p>
          Made with
          <a href="https://bulma.io">
            <b>Bulma</b>,
          </a>
          <a href="http://flask.pocoo.org">
            <b>Flask</b>,
          </a>
          and
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
            <b>vanilla Javascript</b>.
          </a>
        </p>
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
