<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Music for reading!">
  <meta name="keywords" content="music, books, soundtracks, reading, novels">
  <meta name="author" content="Aman Verma">
  <title>{% block page_title %}{% endblock %} - NovelNoises</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/darkly.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/regular.css" integrity="sha384-zkhEzh7td0PG30vxQk1D9liRKeizzot4eqkJ8gB3/I+mZ1rjgQk+BSt2F6rT2c+I"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    crossorigin="anonymous"> {% endblock %}
</head>

<body>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='img/logo-mini.png')}}" alt="NovelNoises logo" width="28" height="28">
        <!-- Try to make the logo scale better here -->
      </a>
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <input class="input" type="text" placeholder="Search database...">
          </p>
          <p class="control">
            <a class="button is-info">
              Search
            </a>
          </p>
        </div>
      </div>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="{{ url_for('about') }}">
          About
        </a>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <footer class="footer is-small">
    <div class="has-text-centered">
      <div class="copyright">
        Copyright<span class="icon"><i class="far fa-copyright"></i></span><span id="year">2018</span>
        by <a class="is-link" href="https://github.com/aaether32323">aaether32323</a>
      </div>

      <div class="made-with">
        <p>
          Made with
          <a href="https://bulma.io">
            <b>Bulma</b>,
          </a>
          <a href="http://flask.pocoo.org">
            <b>Flask</b>,
          </a>
          and
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
            <b>vanilla Javascript</b>.
          </a>
        </p>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
