<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block page_title %}{% endblock %} - NovelNoises</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='css/darkly.min.css') }}"
    />
    {% endblock %}
</head>

<body>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>Test footer</p>
        </div>
    </footer>
</body>

</html>
