{% extends "base.html" %} 
{% block head %}
{{ super() }}
<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
</style>
{% endblock %}
{% block page_title %}Home{% endblock %} {% block content %}
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-2" style="font-family:Roboto Slab">
      Novel Noises
    </h1>
    <h2 class="subtitle is-4" style="font-family:Roboto Slab">
      Music for reading!
    </h2>
    <div class="columns is-centered">
      <div class="column has-text-justified is-two-thirds">
        <p>
          NovelNoises is a database of music paired with books. Many people
          live exceedingly busy lives with little time to relax at home with a book. Some are
          forced to read during their loud lunch hour or crowded commute. Instead of using
          music to block out unwanted noises while reading, why not use music to complement the
          reading experience?
          Yeet. That's where NovelNoises comes in. Just search our database for a book and
          pick an album or playlist from the hundreds of recommendations submitted by users.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
