{% extends "base.html" %}
{% block page_title %}404 Page Not Found{% endblock %} {% block content %} 
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-2">
      404
    </h1>
    <!-- TODO: add a cute pic -->
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <p>
          The path you requested does not exist on this server. If this is a server-side issue please
          make a <a href="{{ github_issues }}">Github issue.</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
